@mixin XYcenteredBlock{
    display:flex;
    justify-content: center;
    align-items: center;
}
@mixin XYcenteredFullHeightBlock{
    @include XYcenteredBlock;
    min-height: 100vh;
}


$bgDarkColor:#2A414B;
$bgColor:#8dc2d4;
$bgLightColor:#EBF7FC;
$white:white;
$black: black;
$colorTitle:#5AA38D;
$colorText: #2A414B;
$colorButton:#B04D66;
$colorDarkbutton:#630B21;
$colorLightbutton: #D68096;
$colorAction: #C3BF34;
$darkColorAction: #767301;
$lightColorAction: #FFFC91;
